<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.garbagesort.addr.mapper.UserAddrMapper">
    
    <resultMap type="UserAddr" id="UserAddrResult">
        <result property="addrId"    column="addr_id"    />
        <result property="userId"    column="user_id"    />
        <result property="contactName"    column="contact_name"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="district"    column="district"    />
        <result property="address"    column="address"    />
        <result property="isDefault"    column="is_default"    />
        <result property="modifiedTime"    column="modified_time"    />
    </resultMap>

    <sql id="selectUserAddrVo">
        select addr_id, user_id, contact_name, contact_phone, province, city, district, address, is_default, modified_time from user_addr
    </sql>

    <select id="selectUserAddrList" parameterType="UserAddr" resultMap="UserAddrResult">
        <include refid="selectUserAddrVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="contactName != null  and contactName != ''"> and contact_name like concat('%', #{contactName}, '%')</if>
            <if test="contactPhone != null  and contactPhone != ''"> and contact_phone = #{contactPhone}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="district != null  and district != ''"> and district = #{district}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="isDefault != null "> and is_default = #{isDefault}</if>
            <if test="modifiedTime != null "> and modified_time = #{modifiedTime}</if>
        </where>
    </select>
    
    <select id="selectUserAddrById" parameterType="Long" resultMap="UserAddrResult">
        <include refid="selectUserAddrVo"/>
        where addr_id = #{addrId}
    </select>
        
    <insert id="insertUserAddr" parameterType="UserAddr" useGeneratedKeys="true" keyProperty="addrId">
        insert into user_addr
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="contactName != null and contactName != ''">contact_name,</if>
            <if test="contactPhone != null and contactPhone != ''">contact_phone,</if>
            <if test="province != null and province != ''">province,</if>
            <if test="city != null">city,</if>
            <if test="district != null">district,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="isDefault != null">is_default,</if>
            <if test="modifiedTime != null">modified_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="contactName != null and contactName != ''">#{contactName},</if>
            <if test="contactPhone != null and contactPhone != ''">#{contactPhone},</if>
            <if test="province != null and province != ''">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="district != null">#{district},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="isDefault != null">#{isDefault},</if>
            <if test="modifiedTime != null">#{modifiedTime},</if>
         </trim>
    </insert>

    <update id="updateUserAddr" parameterType="UserAddr">
        update user_addr
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="contactName != null and contactName != ''">contact_name = #{contactName},</if>
            <if test="contactPhone != null and contactPhone != ''">contact_phone = #{contactPhone},</if>
            <if test="province != null and province != ''">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="district != null">district = #{district},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="isDefault != null">is_default = #{isDefault},</if>
            <if test="modifiedTime != null">modified_time = #{modifiedTime},</if>
        </trim>
        where addr_id = #{addrId}
    </update>

    <delete id="deleteUserAddrById" parameterType="Long">
        delete from user_addr where addr_id = #{addrId}
    </delete>

    <delete id="deleteUserAddrByIds" parameterType="String">
        delete from user_addr where addr_id in 
        <foreach item="addrId" collection="array" open="(" separator="," close=")">
            #{addrId}
        </foreach>
    </delete>

</mapper>